{%  load static %}
<div class="ui header">
    About
</div>
<div class="ui scrolling content">
    <h1>The project</h1>
    <p>
        Have you ever been bothered by the complete lack of carefully annotated Pokémon datasets freely available for
        use? Well, probably not… But anyway, project “Where is that Pokémon” was created to remedy that!
    </p>
    <p>
        Born from then needs of geek researchers for data to use in machine learning tests and algorithms
        (Kickstarted with the article
        <a href="https://jgeekstudies.org/2017/03/12/who-is-that-neural-network/">“Who is that neural network”</a>,
        published on March 12, 2017 on <a href="https://jgeekstudies.org/">The Journal of Geek Studies</a>)
        this project aim to provide carefully annotated image data of Pokémon’s for use in machine learning applications.
    </p>

    <img id="example-image" src="{% static "annotations/img/webpage/about_example.png" %}" style="width: 480px; display: block; margin-left: auto; margin-right: auto"/>
    <br>
    <p>
        To do that, we collected over 100,000 frames of the Pokémon animated series, ranging from seasons 01 to 19,
        and built this website to help annotate this dataset on a large scale.
    </p>

    <h1>What will happen to the data?</h1>
    <p>
        The data collected by “Where is That Pokémon” will not be used only by our team, but it will also be made
        publicly available to anyone interested in using it (With some caveats due to copyright issues, see our FAQ
        for more details on that). After we finish the initial step of data collection we will do some processing to
        get a more reliable set of annotations and publish the results at
        <a href="https://jgeekstudies.org/">The Journal of Geek Studies</a>), but the raw dataset will be made
        available as soon as possible.
    </p>
    <h1>How can I help?</h1>
    <p>
        The best way to help is to work with us annotating the largest amount of frames that you can! If you are not
        sure how to do it, watch our tutorial video on the button above. However, if you have any idea or suggestion to
        make the project better you can reach out to us on contribute@whereisthatpokemon.org.
    </p>
</div>